<?xml version="1.0"?>
<ruleset name="LezWatch Coding Standards">
    <description>A custom ruleset to take in account both WordPress and Lesbian standards.</description>

    <!--
        Prevent errors caused by WordPress Coding Standards not supporting PHP 8.0+.
        See https://github.com/WordPress/WordPress-Coding-Standards/issues/2035
        This can be removed once WPCS is updated. But without this, PHP 8 suuuucks.
    -->
    <ini name="error_reporting" value="E_ALL &#38; ~E_DEPRECATED" />

    <exclude-pattern>*</exclude-pattern>

</ruleset>
